@font-face {
    font-family: "unifont";
    src: url("./fonts/GNU-Unifont-Full.ttf.woff") format("woff"), url("./fonts/GNU-Unifont-Full.ttf.svg#GNU-Unifont-Full") format("svg"), url("./fonts/GNU-Unifont-Full.ttf.eot"), url("./fonts/GNU-Unifont-Full.ttf.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: "unifont", monospace;
}

.placeholder {
    background-image: url("./textures/bg.png");
    height: 512px;
    width: 288px;

}

.levels {
    width: 40%;
    margin: auto;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.levels button {
    margin: 5%;
    padding: 5%;
}